* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  max-width: 1536px;
  margin: 0 auto;
  font-weight: bold;
}
.layout {
  max-width: 1536px;
}
#header {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  z-index: 1;
}
.nav {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  font-size: 16.67;
  padding: 15px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  flex-grow: 1;
}
.logo {
  justify-content: space-between;
  flex-basis: 45%;
  margin: 0;
}
.fa-magnifying-glass {
  display: flex;
  position: absolute;
  top: 10px;
  right: 19px;
}
input {
  border: 0px;
  border-radius: 20px;
  background-color: #c3bfbc;
  height: 37px;
  justify-content: center;
  display: flex;
  align-self: center;
}
.rightAlign {
  position: relative;
  display: flex;
  align-self: center;
}
#image {
  background-image: url("background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1536px;
  height: 1031px;
  margin: 0 auto;
  display: flex;
  justify-content: column;
  position: relative;
}
#image::after {
  content: "";
  background-image: url("Shape3.png");
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
#image::before {
  content: ".";
  background-image: url("header_shade.png");
  position: absolute;
  top: -130px;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
#letsGo {
  position: relative;
  height: 930px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 93px;
}
h1 {
  color: #deb37e;
  font-size: 91.67px;
}
p {
  text-align: left;
  margin: 0;
  font-weight: lighter;
}
.button {
  font-size: 24px;
  color: #776c64;
  background-color: #fefdfc;
  width: 220px;
  height: 47px;
  border-radius: 30px;
  border: 0;
  font-weight: bold;
  margin: 40px 0;
}

#samplePics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.text h2 {
  color: white;
  margin-top: 57px;
  padding: 12px;
}
.containerText h2 {
  color: white;
  padding: 12px;
  margin: 12px 0;
  font-size: 29px;
}
.containerText .para {
  padding: 0 12px;
  margin-bottom: 70px;
  margin-left: 0;
  font-size: 22px;
  color: white;
}
.containerText {
  background-color: #7f7770;
  display: flex;
  flex-direction: column;
}
.primaryButton {
  text-align: center;
  background-color: #7f7770;
  color: white;
}
.containerButton {
  text-align: center;
}
.shadow {
  position: absolute;
  bottom: -10px;
}
.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 780px;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
.rightContainer {
  width: 50%;
  background-color: #7f7770;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 780px;
}
.content {
  margin-left: 40px;
}
h3 {
  font-size: 58px;
  font-weight: bold;
  color: white;
  text-align: left;
  margin: 0;
}
.rightContainer p {
  font-size: 29px;
}
.container .button {
  background-color: #e2a355;
  color: white;
  margin: 0;
}
.leftContainer {
  margin: 0;
  width: 50%;
  background-color: #deb37e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftContainer .para {
  font-size: 29px;
  padding: 55px 0;
}
.rightContainer .para {
  font-size: 29px;
  padding: 55px 0;
}
.rightImg {
  width: 50%;
}
.leftImg {
  width: 50%;
}
#position {
  background-color: #99928d;
  height: 765px;
}
#backgroundColor {
  position: relative;
  background-color: #99928d;
  display: flex;
  justify-content: center;
  height: 770px;
}
#backgroundColor::before {
  content: "";
  background-image: url("Shape_.png");
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
#backgroundColor .content {
  margin: auto 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#backgroundColor p {
  text-align: center;
  font-size: 29px;
}
#backgroundColor h3 {
  padding: 40px 0;
}
#backgroundColor h3 {
  text-align: center;
  font-size: 58px;
}
#image2 {
  background-image: url("explore the world.png");
  height: 1115px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}
#image2::after {
  content: "";
  background-image: url("doubleside_shape.png");
  position: absolute;
  background-size: cover;
  top: -52px;
  height: 223px;
  width: 100%;
}
.explore {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-style: italic;
  margin-right: 90px;
  margin-top: 50px;
  position: relative;
}
.explore h1 {
  font-size: 75px;
  margin: 0px;
  text-align: right;
}
.explore h2 {
  font-size: 83px;
}
#image2::after {
  content: "";
  background-image: url("explore-bottom.png");
  width: 100%;
  background-size: cover;
  position: absolute;
  bottom: -20px;
  height: 200px;
}
#loremIpsum {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  margin: 70px;
  flex-direction: flex-end;
}
#loremIpsum h1 {
  font-size: 33px;
  margin: 0;
  padding: 24px 0;
}
#loremIpsum p {
  font-size: 18px;
}
#loremIpsum .content {
  display: flex;
  flex-direction: column;
}
#quotation {
  display: flex;
  height: 500px;
  position: relative;
  display: flex;
}
#quotation::after {
  content: "";
  background-image: url("quotation-after.png");
  background-size: cover;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  z-index: 1;
}
#quotation .content {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}
#quotation .para {
  font-size: 25px;
}
#quotation h2 {
  z-index: 3;
  font-size: 20px;
  padding: 53px 0;
}
#quotation .shadow {
  position: absolute;
  right: 0;
  z-index: 2;
}
#quotation .content h1 {
  color: black;
  text-align: center;
  font-size: 100px;
}
#quotation .content p {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
#titleHere {
  display: flex;
  background-color: #deb37e;
  height: 800px;
  position: relative;
}
#titleHere .para {
  font-size: 29px;
  padding: 70px 0;
}
#Subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Subscribe input {
  width: 570px;
  height: 63px;
  border-radius: 30px;
  margin-left: 68px;
  background-color: white;
}
#Subscribe h1 {
  font-size: 75px;
  color: white;
}
.secondaryButton {
  height: 63px;
  width: 223px;
  background-color: #54524f;
  color: white;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: -40px;
  right: 0;
}
.email {
  position: relative;
}
footer {
  display: flex;
  background-color: #7f7770;
}
@media (max-width: 767px) {
}
